.container
{
    margin: 0 auto;
    max-width:1440px;
    width:100%;
    padding: 0 10px;
}

html, body
{
   background-color: rgba(0, 0, 0, 0.077);
   min-height: 100vh;
}

#root
{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}